@use 'web/src/styles/colors';

.login-dialog {
  background-color: colors.$DIM-WHITE;
  border-radius: 12px;
  box-shadow: 3px 3px 5px #161616;
  min-width: 350px;
  padding: 16px 24px;
}

.login-form {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.login-title {
  color: colors.$DARK_FOREGROUND;
  font-size: 24px;
  margin-top: 0px;
}

.login-input {
  color: colors.$BLACK;
  font-size: 16px;
  padding: 0.5em 0.5em;
  border: 2px solid colors.$BLACK;
  border-radius: 4px;
  margin-bottom: 6px;
  outline: none;
  width: 80%;

  &::placeholder {
    color: colors.$DIM-BLACK;
  }

  &:focus {
    border: 2px solid colors.$BRIGHT-YELLOW;
  }
}


.login-button-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  width: 80%;
}

.login-button {
  width: 100%;
  height: 45px;
  font-size: 14px;
  text-transform: lowercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: colors.$DIM_FOREGROUND;
  background-color: colors.$DIM_BACKGROUND;
  border: none;
  border-radius: 45px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: colors.$GREEN;
    color: colors.$BRIGHT_FOREGROUND;
  }

  &:disabled {
    background: colors.$BRIGHT-BLACK;
    color: colors.$DIM_FOREGROUND;
  }

  &:disabled:hover {
    cursor: default;
    background: colors.$BRIGHT-BLACK;
    color: colors.$DIM_FOREGROUND;
  }
}
