$BACKGROUND: #282828;
$DIM_BACKGROUND: #3c3836;
$FOREGROUND: #ebdbb2;
$BRIGHT_FOREGROUND: #fbf1c7;
$DARK_FOREGROUND: #3c3836;
$DIM_FOREGROUND: #a89984;

//bright:
$BRIGHT-BLACK: #928374;
$BRIGHT-RED: #fb4934;
$BRIGHT-GREEN: #8ec07c;
$BRIGHT-YELLOW: #fabd2f;
$BRIGHT-BLUE: #83a598;
$BRIGHT-MAGENTA: #d3869b;
$BRIGHT-CYAN: #8ec07c;
$BRIGHT-WHITE: #ebdbb2;
//normal:
$BLACK: #282828;
$RED: #CC241d;
$GREEN: #689d6a;
$YELLOW: #D79921;
$BLUE: #458588;
$MAGENTA: #B16286;
$CYAN: #689D6a;
$WHITE: #A89984;
//dim:
$DIM-BLACK: #32302f;
$DIM-RED: #9d0006;
$DIM-GREEN: #427b58;
$DIM-YELLOW: #B57614;
$DIM-BLUE: #076678;
$DIM-MAGENTA: #8f3f71;
$DIM-CYAN: #427b58;
$DIM-WHITE: #928374;
