@use "colors";

// Required for Angular CDK Overlay
@import '@angular/cdk/overlay-prebuilt.css';


body {
  background: colors.$BACKGROUND;
  color: colors.$FOREGROUND;
  margin: 0;
}

a {
  color: colors.$RED;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input[type=text],
input[type=password],
input[type=url] {
  background: inherit;
  border: none;
  border-bottom: 1px solid transparent;
  color: colors.$BRIGHT-WHITE;
  font-family: 'Fira Mono', monospace;
  font-size: 14px;
  line-height: 22px;
  outline: none;
  width: 100%;

  &::placeholder {
    color: colors.$DIM-WHITE;
  }

  &:focus {
    border-bottom: 1px solid colors.$YELLOW;
  }
}

button {
  background: colors.$DIM_BACKGROUND;
  border-radius: 45px;
  border: none;
  color: colors.$DIM_FOREGROUND;
  cursor: pointer;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  outline: none;
  padding: 8px;
  text-transform: lowercase;
  transition: all 0.3s ease 0s;

  &:hover:not(:disabled) {

    background: colors.$GREEN;
    color: colors.$BRIGHT_FOREGROUND;

  }

  &:hover:disabled {
    background: colors.$DIM_RED;
    color: colors.$BRIGHT_FOREGROUND;
    cursor: default;
  }

}
