<div class="header-wrapper">
  <div class="header-panel">
    <div>
      add link
    </div>
    <div class="login-panel">
      <ng-container *ngIf="user$|async as user; else login">
        <span>settings</span>
        <span aria-label="Sign out" role="button" (click)="signOut()">sign out</span>
      </ng-container>
      <ng-template #login>
        <span aria-label="Login" role="button" (click)="showLogin($event)">login</span>
        <span aria-label="Create a new account" role="button">create account</span>
      </ng-template>
    </div>
  </div>
</div>
