@use 'web/src/styles/colors';

.header-panel {
  align-items: center;
  background: colors.$GREEN;
  color: colors.$DARK_FOREGROUND;
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
  justify-content: space-between;
  padding: 0 12px;
}

.login-panel {
  span {
    padding: 0 8px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
