@use 'web/src/styles/theme';

.settings {
  section {
    margin: 24px 0;
  }

  .user-container {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .setting {
    border-top: 1px solid theme.$DIM;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 12px;

    a {
      cursor: pointer;
    }
  }
}

.cdk-header-cell,
.cdk-cell {
  min-width: 75px;
  padding: 10px;
  text-align: start;

  a {
    cursor: pointer;
  }
}

.settings-name {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.settings-form {
  display: flex;
  flex-flow: column;
  min-width: 225px;
}

.form-theme {
  span {
    margin-right: 6px;
  }
}

.form-allow-new-users {
  min-width: 150px;
}
