@use 'web/src/styles/theme';
@use 'web/src/styles/mixins';

.editlink-dialog-wrapper {
  background: theme.$BACKGROUND;
  border: 1px solid theme.$FOREGROUND;
  border-radius: 12px;
  box-shadow: 3px 3px 5px theme.$DARK;
  padding: 16px 24px;

  @include mixins.desktop {
    min-width: 350px;
  }

  @include mixins.mobile {
    min-width: 275px;
  }
}
