@use 'web/src/styles/theme';

.app-select-wrapper {
  position: relative;
}

.app-select-input-wrapper {
  align-items: center;
  border-bottom: 1px solid transparent;
  display: flex;
  padding: 6px 0 6px 6px;

  &:focus-within {
    border-bottom: 1px solid theme.$BACKGROUND-ALT;
  }

  span {
    display: flex;
  }
}

.text-input {
  border: none;
  padding: 0 8px;

  &:focus {
    border-bottom: none;
  }

  &::placeholder {
    color: theme.$TEXT-ALT;
  }
}

.icon {
  color: theme.$ICONS;
  height: 14px;
  width: 14px;
}

.options-list {
  background-color: theme.$BACKGROUND-ALT;
  border: 1px solid theme.$TEXT-ALT;
  max-height: 70vh;
  overflow-y: auto;
  position: absolute;
  width: 100%;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 12px 12px 12px 35px;
      font-family: 'Fira Mono', monospace;
      font-size: 14px;
      line-height: 14px;
      color: theme.$TEXT;

      &:focus,
      &:hover {
        background-color: theme.$BACKGROUND;
        color: theme.$TEXT-ALT;
        cursor: pointer;
        outline: none;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: theme.$BORDERS;
  }

  &::-webkit-scrollbar-thumb {
    background: theme.$ACCENT;
  }
}

.hidden {
  display: none;
}
