@use 'web/src/styles/theme';

.pill {

  background-color: theme.$BACKGROUND-ALT;
  border-radius: 20px;
  color: theme.$TEXT-ALT;
  font-family: 'Fira Mono', monospace;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin: 4px 4px 4px 0;
  padding: 6px 8px;
  display: flex;
  align-items: center;

  .remove-wrapper {
    margin-left: 6px;
    display: flex;
    align-items: center;

    .remove-icon {
      width: 16px;
      height: 16px;
      color: theme.$TEXT-ALT;

      &:hover {
        cursor: pointer;
      }
    }

  }

}
