@use 'web/src/styles/theme';

.links-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links-li {
  border-top: 1px solid theme.$DIM;
}

.empty-list {
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
  text-transform: lowercase;
}

.empty-state {
  align-items: center;
  display: flex;
  flex-flow: column;
  min-width: 350px;

  p {
    color: theme.$DARK;
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    text-transform: lowercase;
  }

  .link-icon {
    fill: theme.$BRIGHT;
    height: 100px;
    width: 100px;
  }
}
