@use 'web/src/styles/theme';
@use 'web/src/styles/mixins';

.apikey-dialog-wrapper {
  background: theme.$BACKGROUND;
  border: 1px solid theme.$FOREGROUND;
  border-radius: 12px;
  box-shadow: 3px 3px 5px theme.$DARK;
  padding: 16px 24px;
  word-break: break-all;
  max-width: 500px;

  @include mixins.desktop {
    min-width: 350px;
  }

  @include mixins.mobile {
    min-width: 275px;
  }
}

.actions {
  display: flex;
  flex-flow: row nowrap;
  gap: 4px;
  justify-content: flex-end;
}
