@use 'web/src/styles/theme';

.toast-container {

  align-items: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  padding: 6px 12px;

  &.info {
    background: theme.$SUCCESS;
    color: theme.$TEXT;
  }

  &.warn {
    background: theme.$WARN;
    color: theme.$TEXT;
  }

  &.error {
    background: theme.$ERROR;
    color: theme.$TEXT;
  }

}
