@use 'web/src/styles/theme';

.flink-app {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10%;
}


.app-name {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}


.left-column,
.right-column {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
  padding: 0 16px 16px;

  section {
    margin: 24px 0px;
  }
}

.left-column {
  max-width: 300px;

  .footer {
    color: theme.$DIM;
    font-family: 'Fira Mono', monospace;
    font-size: 13px;
    line-height: 16px;
    margin-top: auto;
  }
}

.right-column{
  // Make right column fill available horizontal space.
  flex-grow: 1;
  max-width: 400px;
}
