@use 'web/src/styles/colors';

.header-panel{
  align-items: center;
  background: colors.$GREEN;
  color: colors.$BLACK;
  display: flex;
  flex-flow: row nowrap;
  height: 50px;
  justify-content: space-between;
  padding: 0 12px;
}
