@use 'web/src/styles/theme';

.create-panel {
  border: 1px solid theme.$BRIGHT;
  background: theme.$BACKGROUND;
  padding: 8px 0;
}

.create-form {
  display: flex;
  flex-flow: column;

  .input-wrapper {
    margin: 2px;
    padding: 4px;

    .invalid {
      border-left: 2px solid theme.$ERROR;
    }
  }

  .error-container {
    display: block;
    min-height: 16px;
    line-height: 14px;
  }

  .error {
    color: theme.$ERROR;
    font-family: 'Fira Mono', monospace;
    font-size: 13px;
    margin-left: 4px;
  }

  .action-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding: 8px 12px;

  }

}
