<div class="create-panel">
  <div class="create-form-wrapper">
    <form class="create-form">
      <div class="input-wrapper">
        <input type="url" placeholder="title for your new link">
      </div>
      <div class="input-wrapper">
        <input type="url" placeholder="gimme a url to remember">
      </div>
      <div class="input-wrapper">
        <input type="text" placeholder="add some tags">
      </div>
      <div class="action-row">
        <button type="button">add</button>
      </div>
    </form>
  </div>
</div>
